/**
 * --------------------------------------------------------------------------------
 * S H O R T      F O R M S   O F   C O M M O N     C S S       P R O P E R T I E S
 *---------------------------------------------------------------------------------
 */

/* Text decoration */
@mixin tdn {
    text-decoration: none;
}

.tdn {
    @include tdn();
}

@mixin tdu {
    text-decoration: underline;
}

.tdu {
    @include tdu();
}

/* Text align */
@mixin tac {
    text-align: center;
}

.tac {
    @include tac();
}

@mixin tal {
    text-align: left;
}

.tal {
    @include tal();
}

@mixin tar {
    text-align: right;
}

.tar {
    @include tar();
}


/* Text transform */
@mixin ttu {
    text-transform: uppercase;
}

.ttu {
    @include ttu();
}

@mixin ttl {
    text-transform: lowercase;
}

.ttl {
    @include ttl();
}

@mixin  ttc {
    text-transform: capitalize;
}

.ttc {
    @include ttc();
}


/* Display */
@mixin di {
    display: inline;
}

.d-inline {
    @include di();
}

@mixin db {
    display: block;
}

.db {
    @include db();
}

@mixin dib {
    display: inline-block;
}

.dib {
    @include dib();
}

@mixin dn {
    display: none;
}

.d-none {
    @include dn;
}


/* Margin 0 auto */
@mixin m0a {
    margin: 0 auto;
}

.m0a {
    @include m0a();
}


/* Clearfix for floated contents */
@mixin clearfix() {
    &::after {
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

.cf {
    @include clearfix();
}


/* Absolute center vertically and horizontally */
@mixin centerVH {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.center-vh {
    @include centerVH();
}
